<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline" color="warning"></ion-icon>
       
      </ion-button>
    </ion-buttons>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  

</ion-content>
